# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:<senha>@<host>:<port>/<datatabase-name>?schema=public"
SECOND_DATABASE_URL="postgresql://postgres:<senha>@<host>:<port>/<datatabase-name>?schema=public"

URL_WORKER="http://localhost:5000"

DATABASE_URI="<mongodb>://<host>:<port>"
DATABASE_NAME="<database_name>"
DATABASE_USER="<database_use>"
DATABASE_PASS="<database_password>"